/* Gruvbox Dark Theme Inspired Stylesheet */
/* https://www.color-hex.com/color-palette/1026676 */

/* Body */
body {
    background-color: #1d2021;
    color: #d4be98;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

/* Content */
.content {
    margin-left: 8px;
    background-color: #1d2021;
    color: #d4be98;
}

/* Header */
.header {
    padding-left: 8px;
    background-color: #282828;
}